/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* IMPORT FONT */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


/* ESTILOS GLOBALES */

html,
body{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 2.3em;
}

h3{
    font-size: 1.8em;
    font-weight: 700;
}

/* ESTILOS NAV */

.java-ex{
    background-color: #00B172;
}

.flex-box-nav{
    position: fixed;
    background-color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    width: 100%;
    transition: top 0.5s;
}

.flex-box-nav img{
     height: 60px;
}

.flex-box-list{
    margin-right: 120px;
    display: flex;
    font-size: 30px; 
    list-style: none;
    gap: 45px;
    font-size: 1.3em;
    
}

.flex-box-list a{
    color: black;
    text-decoration: none;
}

.flex-box-list a:hover{
    color: #00B172;
    
}

/* ESTILOS HEADER */

.background-image{
    background-image: url("../images/landing.jpg");
    height: 900px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.background-image h1{
    color: white;
    font-size: 5em;
    font-weight: 600; 
    padding-top: 200px; 
    margin-bottom: 10px;
}

.background-image p{
    color: white;
    width: 650px;
    font-size: 1.7em; 
    font-weight: 300;
    text-align: center;  
    padding: 0px 300px 0px 300px; 
}

/* ESTILOS SECCION 1 */

.section-title{
    padding: 30px 0px 100px 0px;
}

.section-title h2{
    text-align: center;
    text-decoration: underline #00B172 ;
    text-underline-offset: 15px;
   
    padding: 20px 0px 5px 0px;
}

.flex-box-section-icons{
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
    padding: 70px 0px 0px 0px;
    margin: 0px 150px;    
}

.flex-box-section-icons img{
    height: 150px;
    align-items: center;    
}

.flex-box-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.flex-box-section-text h3{
    color: #00B172;
    margin: 20px 0px 0px 0px;

}
.flex-box-section-text p{
    width: 250px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}

/* ESTILOS SECCION 2 */

.section-app{
    background-image: url(../images/spotify-icon-white.png);
    background-color: #00B172;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    margin: 0px 50px 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.section-app-text{
    color: white;
    margin: 100px 0px 100px 100px;
    
}

.section-app-text h2{
    text-align: center;
    text-decoration: underline #ffffff ;
    text-underline-offset: 15px;
    padding: 0px 0px 20px 0px;   
}


.section-app-text--text{
    padding-top: 20px;
    width: 350px;
    font-weight: 300;    
}

.section-app-text--text p{
    font-size: 1.3em;   
}

.section-app-image{
    margin: 100px 100px 100px 100px;
}

.section-app-image img{
    width: 400px;
}

    



